.wrapper {
  height: 100vh;
  max-width: 960px;
}

.wrapper header > div {
  padding: 0;
}

.wrapper aside {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.wrapper main, .asideHeading, .asideContent {
  padding: 1.5rem;
}

.wrapper main {
  max-width: auto;
}

.asideContent {
  background-color: var(--color-tertiary-background-color);
  flex-grow: 1;
}

.wrapper header h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.wrapper header h2 {
  font-size: 1.2rem;
  line-height: 1rem;
}

.asideHeading {
  background-color: var(--color-secondary-background-color);
}

.asideHeading a {
  color: var(--color-secondary-font-color);
}

.collegeName {
  font-weight: 600!important;
  font-size: 0.8rem!important;
  line-height: 1rem!important;
  margin-bottom: 0.2rem!important;
}

@media (min-width: 980px) {
  .wrapper {
    column-gap: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper main {
    padding-left: 0;
  }

  .wrapper aside {
    max-width: 340px;
    padding: 0 1rem 0 0;
  }
}

@media print {
  .wrapper {
    max-width: 100%;
  }

  .wrapper h1 {
    margin-bottom: 0.6rem;
  }

  .asideContent {
    background-color: transparent;
  }
}
