.header {
  background-color: var(--color-secondary-background-color);
  display: flex;
  justify-content: center;
  width: 100%;
}

.header a,
.header p {
  color: var(--color-secondary-font-color);
}

.inner {
  padding: 32px 32px 16px 32px;
  width: 100%;
}

.bio {
  letter-spacing: 0.08rem;
  max-width: 480px;
  margin-top: 16px;
}

@media screen and (min-width: 960px) {
  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
  }

  .bio {
    margin-top: 0;
  }
}
