.skipToContent {
  background-color: var(--color-primary-background-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 50%;
  padding: 0.5rem 1rem;
  position: absolute;
  transition: transform 0.2s;

  top: 0;
  transform: translate(-50%, -60px);
}

.skipToContent:focus {
  transform: translate(-50%, 0);
}

.skipToContent::after {
  border-bottom-width: 0;
}
