/*
.color-primary-0 { color: #41BCD9 }	/* Main Primary color * /
.color-primary-1 { color: #98E0F1 }
.color-primary-2 { color: #67CDE5 }
.color-primary-3 { color: #1FAACB }
.color-primary-4 { color: #0497BA }

.color-secondary-1-0 { color: #FFC747 }	/* Main Secondary color (1) * /
.color-secondary-1-1 { color: #FFE29E }
.color-secondary-1-2 { color: #FFD36E }
.color-secondary-1-3 { color: #FFBB21 }
.color-secondary-1-4 { color: #FFB100 }

.color-secondary-2-0 { color: #FF5C47 }	/* Main Secondary color (2) * /
.color-secondary-2-1 { color: #FFAA9E }
.color-secondary-2-2 { color: #FF7F6E }
.color-secondary-2-3 { color: #FF3A21 }
.color-secondary-2-4 { color: #FF1E00 }
*/

@import url("./reset.css");

:root {
  --color-primary-background-color: #fcbf49;
  --color-primary-font-color: #003049;
  --color-primary-border-color: #003049;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI", Roboto,
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  letter-spacing: 0.04rem;
  line-height: 1.2rem;
  width: 100%;
}

.wrapper {
  align-items: center;
  background-color: var(--color-primary-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

* {
  box-sizing: border-box;
  color: var(--color-primary-font-color);
}

header,
main,
footer {
  width: 100%;
}

header {
  padding: 32px;
}

footer {
  padding: 32px;
}
footer p {
  margin-bottom: 0;
}

main {
  flex-grow: 2;
  padding: 32px;
}

h1 {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 8px 0 8px 0;
}

h2 {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  margin-right: 4px;
}

h3 {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

p {
  font-size: 1rem;
  margin-bottom: 16px;
}

small {
  font-size: 0.8rem;
}

li {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-border-color);
  position: relative;
}

a::after {
  border-bottom: 1px solid var(--color-primary-border-color);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  transition: width 0.15s ease-out;
  position: absolute;
  width: 0;
}

a:focus::after,
a:active::after,
a:hover::after,
a:visited::after {
  transition: width 0.3s ease-out;
  width: 100%;
}

.skip-to-content {
  background-color: var(--color-primary-background-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  transition: transform 0.2s;

  top: 0;
  transform: translate(-50%, -60px);
}

.skip-to-content:focus {
  transform: translate(-50%, 0);
}

.hidden {
  left: -999px;
  position: absolute;
}
