@import url("./reset.css");

:root {
  --color-primary-background-color: #ffffff;
  --color-secondary-background-color: #272727;

  --color-primary-font-color: #272727;
  --color-secondary-font-color: #ffffff;
  --color-tertiary-font-color: #ff9000;

  --color-primary-border-color: #ff9000;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI", Roboto,
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  letter-spacing: 0.04rem;
  line-height: 1.2rem;
  width: 100%;
}

.wrapper {
  align-items: center;
  background-color: var(--color-primary-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

* {
  box-sizing: border-box;
  color: var(--color-primary-font-color);
}

main,
footer {
  width: 100%;
}

footer {
  max-width: 960px;
  padding: 32px;
}
footer p {
  margin-bottom: 0;
}

main {
  flex-grow: 2;
  max-width: 960px;
  padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.08rem;
}

h1 {
  color: var(--color-tertiary-font-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 24px 0;
}

h2 {
  color: var(--color-secondary-font-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-right: 4px;
}

h3 {
  color: var(--color-secondary-font-color);
  font-size: 1rem;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 16px;
}

small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-border-color);
  position: relative;
}

a::after {
  border-bottom: 2px solid var(--color-primary-border-color);
  bottom: -1px;
  content: "";
  left: 0;
  transition: width 0.15s ease-out;
  position: absolute;
  width: 0;
}

a:focus::after,
a:active::after,
a:hover::after,
a:visited::after {
  transition: width 0.3s ease-out;
  width: 100%;
}

.skip-to-content {
  background-color: var(--color-primary-background-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  transition: transform 0.2s;

  top: 0;
  transform: translate(-50%, -60px);
}

.skip-to-content:focus {
  transform: translate(-50%, 0);
}

.hidden {
  left: -999px;
  position: absolute;
}

.inline {
  display: inline-block;
}

.spaced-right {
  margin-right: 8px;
}
