.title {
  margin-bottom: 0.5rem;
}

.subtitle {
  margin-bottom: 0;
}

.list {
  margin-top: 0.5rem;
  padding-inline-start: 2.4rem;
}

.infoGrid {
  display: flex;
  justify-content: space-between;
}

.location {
  position: absolute;
  left: -24px;
  top: -2px;
}

.technology {
  position: relative;
  top: 6px;
  margin-right: 0.2rem;
}
